/*-----Main Color Scheme-----*/
/*-----Secondary Color Scheme-----*/
html {
  font-size: 14px;
  font-family: 'Oswald', sans-serif;
}

body {
  min-height: 100vh;
  background-color: #f5f0e1;
  margin: 0;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

h1 {
  font-size: 3rem;
  color: #ff6e40;
  font-weight: 700;
  text-transform: uppercase;
}

h2 {
  font-size: 2.5rem;
  color: #1e3d59;
  font-weight: 400;
  text-transform: capitalize;
}

body {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 15em auto 12em;
      grid-template-rows: 15em auto 12em;
      grid-template-areas: "header" "main" "footer";
}

header {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: header;
}

main {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: main;
}

footer {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: footer;
}

main {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2fr 4fr 2fr;
      grid-template-columns: 2fr 4fr 2fr;
      grid-template-areas: ". section .";
}

section {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: section;
}

header {
  background-color: #1e3d59;
  padding: 4em 0 1em 0;
  max-height: 10em;
}

header img {
  max-width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: auto;
  margin-left: auto;
}

header a {
  color: #f5f0e1;
}

header nav {
  font-family: 'Oswald', sans-serif;
  font-size: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header nav a {
  border-right: 1px solid #f5f0e1;
  padding-right: 0.5em;
  padding-left: 0.5em;
}

header nav a:first-of-type {
  padding-left: 0;
}

header nav a:last-of-type {
  border-right: none;
  padding-right: 0;
  margin-right: 0;
}

header nav a:hover, header nav a:focus {
  opacity: 0.7;
}

.chyron p {
  font-size: 1.125rem;
  text-align: left;
  color: #222222;
  opacity: 0.85;
}

.chyron p time {
  margin-left: 0;
  opacity: 0.5;
}

.scroll-left {
  height: 2rem;
  width: 100%;
  overflow: hidden;
  position: relative;
}

.scroll-left p {
  position: absolute;
  width: 200%;
  margin: 0;
  text-align: right;
  /* Starting position */
  -webkit-transform: translateX(200%);
          transform: translateX(200%);
  /* Apply animation to this element */
  -webkit-animation: scroll-left 20s linear infinite;
          animation: scroll-left 20s linear infinite;
}

.scroll-left p:hover {
  cursor: pointer;
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
}

/* Move it (define the animation) */
@-webkit-keyframes scroll-left {
  0% {
    -webkit-transform: translateX(50%);
            transform: translateX(50%);
  }
  100% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
}
@keyframes scroll-left {
  0% {
    -webkit-transform: translateX(50%);
            transform: translateX(50%);
  }
  100% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
}

article {
  border-top: 0.5px solid #ff6e40;
}

article p {
  font-family: 'Montserrat', sans-serif;
  font-weight: 100;
  letter-spacing: .07em;
  color: #222222;
}

article .subtitle {
  font-size: 1.5rem;
  font-weight: 200;
  opacity: 0.7;
}

article .card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: justify;
      align-content: space-between;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  padding: 1em 0 1em 0;
  gap: 1em;
}

article .card img {
  max-width: 22em;
  height: auto;
}

article .card p {
  margin: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

article .card iframe {
  max-width: 24em;
}

@media (max-width: 650px) {
  article .card {
    display: block;
  }
  article .card .subtitle {
    display: block;
  }
  article .card p {
    margin-top: 1em;
  }
}

article:last-of-type {
  border-bottom: 0.5px solid #ff6e40;
  margin-bottom: 10em;
}

aside {
  background-color: #ff6e40;
  color: #f5f0e1;
}

footer {
  background-color: #ff6e40;
}

footer .copyright {
  text-align: center;
  font-size: 1.25rem;
  color: #f5f0e1;
  opacity: 0.7;
}

.fa {
  padding: 0.5em;
  font-size: 1.5rem;
  line-height: 1.5em;
  width: 1.5em;
  text-align: center;
  text-decoration: none;
  margin: 1em 0.25em;
  background-color: #f5f0e1;
  color: #ff6e40;
  border-radius: 50%;
}

.fa:hover {
  opacity: 0.7;
}

.center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
/*# sourceMappingURL=style.css.map */