@import './assets/styles/custom.scss';


//=====General======// 
* {
    box-sizing: border-box;
}
html {
    font-size: 14px;
    font-family: 'Oswald', sans-serif;
    /* @media (max-width: 650px) {
        font-size: 80%;
    } */
}
body {
    min-height: 100vh;
    background-color: $almond;
    margin: 0;
}
a {
    text-decoration: none;
}
ul {
    list-style-type: none;
}

//=====Type=====// 

h1 {
    font-size: 3rem;
    color: $red-orange;
    font-weight: 700;
    text-transform: uppercase;
}
h2 {
    font-size: 2.5rem;
    color: $navy;
    font-weight: 400;
    text-transform: capitalize;
}

//=====Header=====// 
header {
    background-color: $navy;
    padding: 4rem 2rem 1rem 2rem;   
    .logo-link {
        img {
        max-width: 100%;
        height: auto;
        display: block;
        margin-right: auto;
        margin-left: auto;
        }
    }
    nav {
        font-family: 'Oswald', sans-serif;
        font-size: 2rem;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        a {
            color: $almond;
            border-right: 1px solid $almond;
            padding-right: 0.5em;
            padding-left: 0.5em;
        }
        a:first-of-type {
            padding-left: 0;
        }
        a:last-of-type {
            border-right: none;
            padding-right: 0;
            margin-right: 0;
        }
        a:hover, a:focus {
            opacity: 0.7;
        }
    }   
}

//=====Main=====// 

main {
    padding: 0 5% 0 5%;
    @media (min-width: 650px) {
        padding: 0 20% 0 20%;
    }
}

.chyron {
    p {
        font-size: 1.125rem;
        text-align: left;
        color: $black;
        opacity: 0.85;
        time {
            margin-left: 0;
            opacity: 0.5;
        }
    }
}

.scroll-left {
    height: 2rem; 
    width: 100%;
    overflow: hidden;
    position: relative;
    }
    .scroll-left p {
        position: absolute;
        width: 200%;
        margin: 0;
        text-align: right;
        transform:translateX(200%);
        animation: scroll-left 20s linear infinite;
        &:hover {
            cursor: pointer;
            animation-play-state: paused;
            }
        }
        @keyframes scroll-left {
        0% { 
        transform: translateX(50%); 
        }
        100% { 
        transform: translateX(-100%); 
        }

    }




article {
    border-top: 0.5px solid $red-orange;
    p {
        font-family: 'Montserrat', sans-serif;
        font-weight: 100;
        letter-spacing: .07em;
        color: $black;
    }
    .subtitle {
        font-size: 1.5rem;
        font-weight: 200;
        opacity: 0.7;
        display: block;
    }
    .card {
        padding: 1em 0 1em 0;
        columns: 2 300px;
        gap: 1em;
        img {
            max-width: 100%;
            height: auto;
        }
        p {
            margin: 0;
            justify-content: center;
        }
        iframe {
            width: 100%;
            height: 25rem;
        }
            .subtitle {
                display: block;
            }
            p {
                margin-top: 1em;
            }
        }
        .only-text-card {
            columns: 2 300px;
            gap: 2em;
        }
    
    &:last-of-type {
        border-bottom: 0.5px solid $red-orange;
        margin-bottom: 10em;
    }
}


//=====Footer=====// 
footer {
    background-color: $red-orange;
    padding-bottom: 5rem;
    .copyright {
        text-align: center;
        font-size: 1.25rem;
        color: $almond;
        opacity: 0.7;
    }
}

//=====Social Icons=====// 
.fa {
    font-size: 1.5rem;
    padding: 0.5rem;
    line-height: 1.5rem;
    width: 3rem;
    text-align: center;
    text-decoration: none;
    margin: 1em 0.25em;
    background-color: $almond;
    color: $red-orange;
    &:hover {
        opacity: 0.7;
    }
  }

  //=====Helpers=====// 

.center {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.canceled {
    color: $red-orange;
    font-style: italic;
    text-decoration: line-through;
}

//=====Pages Settings=====// 

.concert-year-list {
        padding-left: 0;
}
.custom-columns {
    column-count: 3;
    gap: 2rem;

    @media only screen and (max-width: 899px) {
          -webkit-column-count: 1;
          -moz-column-count: 1;
          column-count: 1;
      }
      @media only screen and (min-width: 900px) and (max-width: 1240px) {
          -webkit-column-count: 2;
          -moz-column-count: 2;
          column-count: 2;
      }
}

.official-video {
    .video-list {
        column-count: 2;
        gap: 2rem;
    }
    iframe {
        width: calc(560px - 50%);
        height: calc(315px - 50%);
        padding-bottom: 2rem;
    }
}

@media only screen and (max-width: 899px) {
    iframe {
    -webkit-column-count: 1;
    -moz-column-count: 1;
    column-count: 1;
    }
}

