@import './assets/styles/custom.scss';


//=====General======// 

html {
    font-size: 14px;
    font-family: 'Oswald', sans-serif;
}
body {
    min-height: 100vh;
    background-color: $almond;
    margin: 0;
}
a {
    text-decoration: none;
}
ul {
    list-style-type: none;
}

//=====Type=====// 

h1 {
    font-size: 3rem;
    color: $red-orange;
    font-weight: 700;
    text-transform: uppercase;
}
h2 {
    font-size: 2.5rem;
    color: $navy;
    font-weight: 400;
    text-transform: capitalize;
}

//=====Grid=====// 

body {
    display: grid;
    //grid-template-columns: 1fr 5fr 1fr;
    grid-template-rows: 15em auto 12em;
    grid-template-areas:
    "header"
    "main"
    "footer"
}

header {grid-area: header;}     
main {grid-area: main;}
footer {grid-area: footer;}

//=====Main-Grid=====// 

main {
    display: grid;
    grid-template-columns: 2fr 4fr 2fr;
    grid-template-areas: 
    ". section .";
}

section {grid-area: section;}

//=====Header=====// 
header {
    background-color: $navy;
    padding: 4em 0 1em 0;
    max-height: 10em;    
    img {
        max-width: 100%;
        height: auto;
        display: flex;
        margin-right: auto;
        margin-left: auto;
    }
    a {
        color: $almond;
    }
    nav {
        font-family: 'Oswald', sans-serif;
        font-size: 2rem;
        display: flex;
        justify-content: center;
        align-items: center;
        a {
            border-right: 1px solid $almond;
            padding-right: 0.5em;
            padding-left: 0.5em;
        }
        a:first-of-type {
            padding-left: 0;
        }
        a:last-of-type {
            border-right: none;
            padding-right: 0;
            margin-right: 0;
        }
        a:hover, a:focus {
            opacity: 0.7;
        }
    }   
}

//=====Main=====// 

.chyron {
    p {
        font-size: 1.125rem;
        text-align: left;
        color: $black;
        opacity: 0.85;
        time {
            margin-left: 0;
            opacity: 0.5;
        }
    }
}

.scroll-left {
    height: 2rem; 
    width: 100%;
    overflow: hidden;
    position: relative;
    }
    .scroll-left p {
        position: absolute;
        width: 200%;
        //height: 100%;
        margin: 0;
        //line-height: 50px;
        text-align: right;
        /* Starting position */
        transform:translateX(200%);
        /* Apply animation to this element */ 
        animation: scroll-left 20s linear infinite;
        &:hover {
            cursor: pointer;
            animation-play-state: paused;
        }
        }
        /* Move it (define the animation) */
        @keyframes scroll-left {
        0% { 
        transform: translateX(50%); 
        }
        100% { 
        transform: translateX(-100%); 
        }

    }




article {
    border-top: 0.5px solid $red-orange;
    p {
        font-family: 'Montserrat', sans-serif;
        font-weight: 100;
        letter-spacing: .07em;
        color: $black;
    }
    .subtitle {
        font-size: 1.5rem;
        font-weight: 200;
        opacity: 0.7;
    }
    .card {
        display: flex;
        align-content: space-between;
        flex-wrap: nowrap;
        padding: 1em 0 1em 0;
        gap: 1em;
        img {
            max-width: 22em;
            height: auto;
        }
        p {
            margin: 0;
            justify-content: center;
        }
        iframe {
            max-width: 24em;
        }
        @media (max-width: 650px) {
            display: block;
            .subtitle {
                display: block;
            }
            p {
                margin-top: 1em;
            }
        }
    }
    &:last-of-type {
        border-bottom: 0.5px solid $red-orange;
        margin-bottom: 10em;
    }
}

//=====Aside=====// 

aside {
    background-color: $red-orange;
    color: $almond;
}

//=====Footer=====// 
footer {
    background-color: $red-orange;
    .copyright {
        text-align: center;
        font-size: 1.25rem;
        color: $almond;
        opacity: 0.7;
    }
}

//=====Social Icons=====// 
.fa {
    padding: 0.5em;
    font-size: 1.5rem;
    line-height: 1.5em;
    width: 1.5em;
    text-align: center;
    text-decoration: none;
    margin: 1em 0.25em;
    background-color: $almond;
    color: $red-orange;
    border-radius: 50%;
    &:hover {
        opacity: 0.7;
    }
  }

  //=====Helpers=====// 

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

