/*-----Main Color Scheme-----*/ 

$navy: #1e3d59;
$almond: #f5f0e1;
$red-orange: #ff6e40;
$mango: #ffc13b;

/*-----Secondary Color Scheme-----*/ 

$navy-2: #26495c;
$ochre: #c4a35a;
$burnt-siena: #c66b3d;
$light-grey: #e5e5dc;
$deep-pine-green: #1d3c45;
$orange: #d2601a;
$light-peach: #fff1e1;

$black: #222222;

/*-----Main colors variants-----*/ 
$red-orange-50: #ff6d407c;
$almond-50: #f5f0e183;
